.nav {
    position: relative;
    width: 100vw;
    height: 8vh;
    font-family: 'Montserrat';
    z-index: 1;
    box-shadow: 5px 5px 30px -20px rgba(0, 0, 0, 1);
}

.nav .covid-link {
    position: absolute;
    font-weight: bold;
    left: 0;
    margin-left: 3%;
    font-weight: bold;
    font-size: 25px;
    padding-top: 30px;
    text-decoration: none;
    color: white;
}

.nav .list {
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    margin-right: 10%;
    padding-top: 7px;
    font-weight: bold;
    font-size: 25px;
}

.nav .nav-item {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    transition: .2s;
}

.nav .nav-item:hover {
    color: #6373ff;
}


@media (min-width: 300px) and (max-width: 700px) and (orientation: portrait) {
    .nav .covid-link {
        font-size: 15px;

    }

    .nav .list {
        font-size: 15px;
        margin-right: 5%;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .nav .covid-link {
        position: absolute;
        font-weight: bold;
        left: 0;
        margin-left: 3%;
        font-weight: bold;
        font-size: 25px;
        padding-top: 15px;
        text-decoration: none;
        color: white;
    }

    .nav .list {
        position: absolute;
        display: flex;
        flex-direction: row;
        right: 0;
        padding-top: 7px;
        margin-top: -15px;
        margin-right: 10%;
        font-weight: bold;
        font-size: 25px;
    }
}