.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
    overflow: hidden;
}

.Home {
    position: relative;
    top: 25vh;
}

.Home .text {
    text-align: center;
    margin: 0 20px;
    color: white;
}

.Home .text h1 {
    margin-bottom: 20px;
    font-weight: 900;
}

.Home .text p {
    margin-bottom: 30px;
    font-weight: 500;
}

.btnStart {
    position: absolute;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;
    text-decoration: none;
}


.btnStart:hover {
    color: #7647d1;
    background-color: white;
}

.picture {
    position: absolute;
    background-image: url('../assets/1.svg');
    margin-top: 250px;
    width: 100vw;
    height: 40vh;
    margin-top: 120%;
    background-repeat: no-repeat;
}

@media (min-width: 700px) and (orientation: portrait) {
    .Home .text h1 {
        font-size: 70px;
    }

    .Home .text p {
        font-size: 20px;
    }

    .picture {
        height: 43vh;
        margin-top: 70%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 600px) and (orientation: landscape) {
    .wrapper {
        flex-direction: row;
    }

    .Home {
        position: absolute;
        width: 50%;
        right: 0;
        top: 20vh;
    }

    .Home .text p {
        margin-bottom: 15px;
    }

    .picture {
        position: absolute;
        width: 50%;
        height: 100vh;
        margin-top: 40px;
    }

    .btnStart {
        background-color: white;
        border: 1px solid #6373ff;
        color: #6373ff;
    }

    .btnStart:hover {
        background-color: #6373ff;
        color: white;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {

    .wrapper {
        flex-direction: row;
        background-image: url('../assets/bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .Home {
        position: absolute;
        width: 50%;
        right: 0;
        top: 25vh;
    }

    .Home .text h1 {
        font-size: 50px;
        color: #872bb2;
    }

    .Home .text p {
        font-size: 25px;
        margin-bottom: 15px;
        color: #872bb2;
    }

    .picture {
        position: absolute;
        height: 100vh;
        width: 50%;
        margin-top: 15%;
        background-size: contain;

    }

}

@media (min-width: 1400px) and (orientation: landscape) {
    .Home {
        position: absolute;
        width: 50%;
        right: 0;
        top: 25vh;
    }

    .Home .text h1 {
        font-size: 50px;
    }

    .Home .text p {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .picture {
        position: absolute;
        margin-top: 5%;
        width: 50%;
        background-size: contain;
    }

}