* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


body {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-image: url('../assets/shape.png');
    background-color: #872bb2;
    overflow-x: hidden;
}